/* html {
  scroll-snap-type: y proximity;
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bungee';
  color: rgb(88, 88, 88);
}
body {
  background: whitesmoke;
}
h1 {
  font-family: 'Bungee Shade';
}
h3 {
  font-family: 'Bungee Hairline';
  text-shadow: 1px 1px black;
}
span {
  font-family: 'Bungee';
  text-shadow: none;
}
span:hover {
  color: rgb(182, 135, 135);
  cursor: pointer;
}
span a {
  text-decoration: none;
}
span a:hover {
  color: rgb(182, 135, 135);
}
.flex {
  display: flex;
}

.block {
  height: var(--height);
}

main {
  padding: 5vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
}
.top .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}
.top .text h1 {
  font-size: 55px;
}
.top i {
  opacity: 1;
  height: 15vh;
  font-size: 25px;
  animation: scrolldisp linear;
  animation-timeline: scroll();
}
@keyframes scrolldisp {
  from {
    opactiy: 1;
  }
  to {
    opacity: 0;
  }
}
@media (max-width: 700px) {
  .top .text h1 {
    font-size: 45px;
    line-height: 47px;
    padding-bottom: 10px;
  }
}

.elementcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  scale: 0.8;
  opacity: 0;
  padding: 20px;
  margin: 10vh 0;
  height: fit-content;
  max-width: 1080px;
  border-radius: 15px;
  background: rgb(223, 211, 211, 0.3);
  box-shadow: 10px 15px 10px rgba(201, 190, 190, 0.6);
  animation: appear1 linear forwards;
  animation-timeline: view();
  animation-range-start: 10%;
  animation-range-end: 90%;
  /* scroll-snap-align: center; */
}
@keyframes appear1 {
  0% {
    scale: 0.8;
    opacity: 0;
  }
  30% {
    scale: 1;
    opacity: 1;
  }
  60% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0.8;
    opacity: 0;
  }
}
@media (max-width: 700px) {
  .elementcontainer {
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  .elementcontainer .text {
    width: 100%;
  }
}

.elementcontainer.profile {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 25px;
  margin: 1vh 0;
}
.elementcontainer.profile .text {
  width: 75%;
}
.elementcontainer.profile img {
  width: 20%;
  border-radius: 100%;
}
@media (max-width: 700px) {
  .elementcontainer.profile {
    justify-content: center;
  }
  .elementcontainer.profile img {
    width: 90%;
  }
}

.elementcontainer.contact {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5%;
}
.elementcontainer.contact .contacts {
  align-items: center;
  gap: 15px;
}
.elementcontainer.contact .contacts a i {
  font-size: 30px;
}
.elementcontainer.contact .contacts a i:hover {
  color: rgb(182, 135, 135);
  cursor: pointer;
}

h1.sectionhead {
  width: 100%;
  text-align: center;
}
.list {
  display: flex;
  gap: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2vh 0;
  max-width: 1080px;
}
.listside {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 40%;
  height: fit-content;
  justify-content: center;
}
.left.listside {
  align-items: end;
}
.right.listside {
  align-items: start;
}
.listitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  scale: 0.8;
  opacity: 0;
  padding: 20px;
  margin: 1vh 0;
  height: fit-content;
  width: fit-content;
  max-width: 1080px;
  border-radius: 15px;
  background: rgb(223, 211, 211, 0.3);
  box-shadow: 10px 15px 10px rgba(201, 190, 190, 0.6);
  animation: appear2 linear forwards;
  animation-timeline: view();
  animation-range-start: 10%;
  animation-range-end: 90%;
  /* scroll-snap-align: center; */
}
.listitem img {
  width: 80%;
  border-radius: 100%;
  background: whitesmoke;
}
.contract img {
  width: 75%;
  padding: 5%;
}
@keyframes appear2 {
  0% {
    scale: 0.8;
    opacity: 0;
  }
  30% {
    scale: 1;
    opacity: 1;
  }
  60% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0.8;
    opacity: 0;
  }
}
@media (max-width: 700px) {
  .left.listside,
  .right.listside {
    max-width: 90%;
    width: 100%;
    align-items: center;
  }
  .listitem {
    width: 100%;
  }
}

.multilist {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2vh 0;
  max-width: 1080px;
}
.multilistlane {
  display: flex;
  flex-direction: column;
  width: calc((100 / var(--lanes)) * 1%);
  height: fit-content;
  justify-content: center;
  align-items: center;
}
.multilistitem {
  width: 100%;
  scale: 1;
}
.multilistitem:hover {
  animation: expand1 0.06s linear;
  scale: 1.1;
}
@keyframes expand1 {
  from {
    scale: 1;
  }
  to {
    scale: 1.1;
  }
}
.multilistitem img {
  border-radius: 100%;
  scale: 0.8;
  opacity: 0;
  width: 90%;
  margin: 10px;
  box-shadow: 10px 15px 10px rgba(201, 190, 190, 0.6);
  animation: appear3 linear forwards;
  animation-timeline: view();
  animation-range-start: 10%;
  animation-range-end: 90%;
}
@keyframes appear3 {
  0% {
    scale: 0.8;
    opacity: 0;
  }
  30% {
    scale: 1;
    opacity: 1;
  }
  60% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0.8;
    opacity: 0;
  }
}
