* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bungee';
  color: rgb(88, 88, 88);
}
body {
  background: whitesmoke;
}
h1 {
  font-family: 'Bungee Shade';
}
h3 {
  font-family: 'Bungee Hairline';
  text-shadow: 1px 1px black;
}

.wakatimebadge img {
  margin: 5px;
  scale: 1.1;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  margin-left: 20px;
}
.top .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}
.top .text h1 {
  font-size: 55px;
}
.top i {
  opacity: 1;
  height: 15vh;
  font-size: 25px;
  animation: scrolldisp linear;
  animation-timeline: scroll();
}
